/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


/ {
    keymap {
        compatible = "zmk,keymap";

        layers {
            layer0 {
                bindings = <
                    &kp A &kp B &kp C &kp D &kp E
                >;
                sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            };
        };
    };
};